/* basic styling */
/* line 4, /Users/simonrentzke/Sites/personal/convert_my_time/source/stylesheets/all.css.scss */
body {
  color: #111;
  font-family: courier;
  text-align: center;
  letter-spacing: 0.0625em;
  margin: 0;
  font-size: 9px; }

/* line 13, /Users/simonrentzke/Sites/personal/convert_my_time/source/stylesheets/all.css.scss */
.page-title {
  font-size: 3em; }

/* line 17, /Users/simonrentzke/Sites/personal/convert_my_time/source/stylesheets/all.css.scss */
.doc {
  background-color: #f5f5f5;
  border-bottom: 1px solid #ccc;
  border-top: 1px solid #ccc;
  padding: 1em 0 1.2em;
  margin: 0 0 1em; }
  /* line 23, /Users/simonrentzke/Sites/personal/convert_my_time/source/stylesheets/all.css.scss */
  .doc label {
    color: #333;
    display: none;
    font-size: 2em;
    font-weight: bold;
    line-height: 30px;
    padding: 5px; }
  /* line 31, /Users/simonrentzke/Sites/personal/convert_my_time/source/stylesheets/all.css.scss */
  .doc .time-input {
    border: 1px solid #ccc;
    font-size: 2em;
    margin: 0.25em 0;
    padding: 5px;
    text-align: center;
    width: 90%; }
  /* line 39, /Users/simonrentzke/Sites/personal/convert_my_time/source/stylesheets/all.css.scss */
  .doc button {
    background-color: #004080;
    border: 1px solid #00264d;
    color: #fff;
    cursor: pointer;
    font-family: courier;
    font-size: 2em;
    margin: 0;
    padding: 5px 10px 5px 10px;
    vertical-align: top; }
  /* line 50, /Users/simonrentzke/Sites/personal/convert_my_time/source/stylesheets/all.css.scss */
  .doc button:hover {
    background-color: #0059b3; }

/* line 54, /Users/simonrentzke/Sites/personal/convert_my_time/source/stylesheets/all.css.scss */
.answers {
  font-size: 1.5em;
  margin-top: 1em; }
  /* line 57, /Users/simonrentzke/Sites/personal/convert_my_time/source/stylesheets/all.css.scss */
  .answers ul {
    list-style-type: none;
    margin: 0 10px;
    padding: 0; }
  /* line 62, /Users/simonrentzke/Sites/personal/convert_my_time/source/stylesheets/all.css.scss */
  .answers li {
    display: block;
    margin: 1em 0; }

/* line 67, /Users/simonrentzke/Sites/personal/convert_my_time/source/stylesheets/all.css.scss */
.or-select {
  font-size: 1.6em; }

/* line 70, /Users/simonrentzke/Sites/personal/convert_my_time/source/stylesheets/all.css.scss */
.hidden {
  display: none; }

/* line 73, /Users/simonrentzke/Sites/personal/convert_my_time/source/stylesheets/all.css.scss */
input[type="text"] {
  font-family: courier; }

/* line 76, /Users/simonrentzke/Sites/personal/convert_my_time/source/stylesheets/all.css.scss */
.input-timezone {
  font-size: 1em; }

@media screen and (min-width: 430px) {
  /* line 82, /Users/simonrentzke/Sites/personal/convert_my_time/source/stylesheets/all.css.scss */
  body {
    font-size: 12px; } }
@media screen and (min-width: 720px) {
  /* line 88, /Users/simonrentzke/Sites/personal/convert_my_time/source/stylesheets/all.css.scss */
  .doc {
    margin: 2em 0;
    padding: 2em 0 2.2em; }
    /* line 91, /Users/simonrentzke/Sites/personal/convert_my_time/source/stylesheets/all.css.scss */
    .doc label {
      display: inline-block; }
    /* line 94, /Users/simonrentzke/Sites/personal/convert_my_time/source/stylesheets/all.css.scss */
    .doc .time-input {
      margin: 0;
      width: 400px; }

  /* line 99, /Users/simonrentzke/Sites/personal/convert_my_time/source/stylesheets/all.css.scss */
  .answers {
    margin-top: 2em; } }
/* tablets */
@media screen and (min-width: 900px) {
  /* line 106, /Users/simonrentzke/Sites/personal/convert_my_time/source/stylesheets/all.css.scss */
  body {
    font-size: 14px; }

  /* line 110, /Users/simonrentzke/Sites/personal/convert_my_time/source/stylesheets/all.css.scss */
  .doc .time-input {
    width: 480px; } }
