---
title: Time Converter
---

<div class="welcome">
  <h1>Convert Your Time</h1>
  <p class="doc">
    Enter time <%= text_field_tag :input_time, :id => 'input_time'  %>
    <%= submit_tag 'Convert', :id => 'convert' %>
  </p>
  <p>Or <%= select_tag :timezone, :id => 'input_timezone' %>
  </p>
  <p id='time_utc'></p>
  <p id='time_local'></p>
  <p id='time_zone'></p>
</div>

<script type="text/javascript">
	var ft = 'YYYY-MM-DD H:mm:ss Z'
	$('#input_time').keydown(function(e) {
		convertTime();
	})
	
	$('#convert').click(function(e) {
		convertTime();
	})
 	var keys = Object.keys(momentTzData.zones)
	var options = keys.map(function(zone) {
		return '<option value="' + zone + '"">' + zone + '</option>'
	})

	$('#input_timezone').html('<option value="">Choose timezone...</option>' + options.join())
	$('#input_time').val(moment().format(ft))

	$('#input_timezone').change(function() {convertTime()})
	$('#input_timezone').chosen();

	function convertTime() {
		var time = $('#input_time').val();
		var parsed = moment(time);
		if (parsed && parsed.isValid()) {
			$('#time_local').html('That is <strong>' + parsed.format(ft) + '</strong> locally for you.');
			$('#time_utc').html('That is <strong>' + parsed.utc().format(ft) + '</strong> in UTC.');
			var tzinfo = $('#input_timezone').val()
			console.log(tzinfo);
			if (tzinfo != '') {
				$('#time_zone').html('That is <strong>' + parsed.tz(tzinfo).format(ft) + '</strong> in ' + tzinfo + '.');
			}
		}	
	}
</script>