---
title: Time Converter
---

<div class="welcome">
  <h1 class="page-title">Convert Your Time</h1>
  <p class="doc">
  	<label for="input_time">Enter time</label>
    <%= text_field_tag :input_time, :id => 'input_time', :class => 'time-input'  %>
    <button type="submit" value="Convert" id="convert">Convert</button>
    <%# submit_tag 'Convert', :id => 'convert' %>
  </p>
  <p class="or-select">Or <%= select_tag :timezone, :id => 'input_timezone', :class => 'input-timezone' %>
  </p>
  <div class="answers">
  	<p class="hidden" id="that_is">That is</p>
  	<ul>
  		<li id='time_utc'></li>
  		<li id='time_local'></li>
  		<li id='time_zone'></li>
  	</ul>
  </div>
</div>

<script type="text/javascript">
	var ft = 'YYYY-MM-DD H:mm:ss Z'
	$('#input_time').keydown(function(e) {
		convertTime();
	})
	
	$('#convert').click(function(e) {
		convertTime();
	})
 	var keys = Object.keys(momentTzData.zones)
	var options = keys.map(function(zone) {
		return '<option value="' + zone + '"">' + zone + '</option>'
	})

	$('#input_timezone').html('<option value="">Choose timezone...</option>' + options.join())
	$('#input_time').val(moment().format(ft))

	$('#input_timezone').change(function() {convertTime()})
	$('#input_timezone').chosen();

	function convertTime() {
		var time = $('#input_time').val();
		var parsed = moment(time);
		if (parsed && parsed.isValid()) {
			$('#that_is').removeClass('hidden');
			$('#time_local').html('<strong>' + parsed.format(ft) + '</strong> locally for you.');
			$('#time_utc').html('<strong>' + parsed.utc().format(ft) + '</strong> in UTC.');
			var tzinfo = $('#input_timezone').val()
			console.log(tzinfo);
			if (tzinfo != '') {
				$('#time_zone').html('<strong>' + parsed.tz(tzinfo).format(ft) + '</strong> in ' + tzinfo + '.');
			}
		} else {
			$('#that_is').addClass('hidden');
		}
	}
</script>